@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --light: rgb(255, 253, 232);
  --dark: rgb(64, 64, 230);
  --dark-light: rgb(114, 147, 245);
  --light-med: rgb(244, 232, 232);
}

* {
  font-family: 'Press Start 2P', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--dark);
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--light);
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 2rem 2rem;
  justify-content: space-between;
  display: none;
}

.header-option {
  cursor: pointer;
  color: var(--light);
}

.titlescreen {
  height: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  display: none;
}

.title {
  text-shadow: 0.3rem 0.2rem 0.01rem var(--dark-light);
  color: antiquewhite;
  cursor: pointer;
  padding-top: 5rem;
  font-size: 4rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.option {
  position: relative;
  display: flex;
  justify-content: left;
  gap: 0.8rem;
}

.option * {
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: rgb(246, 218, 60);
}

.arrow {
  position: absolute;
  visibility: hidden;
  font-size: 1.8rem;
  left: -3rem;
  top: -0.8rem;
}

.option:hover,
header *:hover {
  opacity: 0.9;
}

.rules {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2rem;
  display: none;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5rem;
  z-index: 1;
  background-color: var(--light);
}

#back {
  cursor: pointer;
  background-color: var(--dark);
  width: fit-content;
  padding: 0 0.6rem;
  color: var(--light);
}

.description,
.description * {
  font-size: 0.85rem;
}

li {
  padding-left: 1rem;
  list-style-type: square;
}
table {
  padding-top: 1rem;
}

td,
th {
  font-size: 0.7rem;
  border: 0.01rem solid var(--dark);
  padding: 0.3rem 0.3rem;
}

td {
  text-align: center;
}

.ship-selection {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#setup-grid {
  padding: 2rem 0;
  display: grid;
  padding-right: 1.5rem;
  grid-template-columns: auto repeat(8, 2.5rem);
  grid-template-rows: auto repeat(8, 2.5rem);
}

#player-board,
#computer-board {
  padding: 1.4rem 0;
  display: grid;
  padding-right: 1.5rem;
  grid-template-columns: repeat(9, 2.2rem);
  grid-template-rows: repeat(9, 2.2rem);
}

.square {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  outline: 0.01rem solid var(--dark);
  opacity: 0.8;
}

.len2 {
  background-color: rgba(210, 218, 253, 0.5);
}
.len3 {
  background-color: rgba(170, 191, 255, 0.5);
}

.len4 {
  background-color: rgb(114, 147, 245, 0.5);
}

.position,
.selected {
  background-color: rgb(244, 232, 232);
}
.hidden {
  visibility: hidden;
}

.xLabel {
  justify-self: center;
  align-self: start;
  color: var(--dark);
  padding-top: 0.8rem;
  font-size: 0.8rem;
}

.yLabel {
  justify-self: end;
  align-self: center;
  color: var(--dark);
  padding-right: 1.2rem;

  font-size: 0.8rem;
}

.heading {
  font-size: 1.5rem;
}
.settings {
  cursor: pointer;
  display: flex;
  gap: 3rem;
}

#start-game,
#new-game {
  cursor: pointer;
  margin-top: 1.3rem;
  font-size: 1.3rem;
  color: var(--light);
  background-color: var(--dark);
  padding: 0.6rem;
  border: none;
}

.game {
  padding: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  height: 100vh;
}

.gameboards {
  padding-top: 1.3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.remaining-ships {
  font-size: 0.7rem;
}

.details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: -2rem;
}

.turn {
  visibility: hidden;
  font-size: 0.9rem;
  background-color: var(--dark);
  color: var(--light);
  padding: 0.5rem 0.6rem;
}

#attack {
  cursor: pointer;
  border: none;
  margin-top: 0.2rem;
  font-weight: 800;
  background-color: var(--dark);
  color: var(--light);
  opacity: 1;
  padding: 1rem 1.2rem;
}

.invisible {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.visible {
  display: flex;
}

#attack:disabled,
#start-game:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.hidden {
  background-color: none;
}

.shot,
.await-turn {
  pointer-events: none;
  cursor: default;
}
